/* nav related style */


nav ,ul {
    display: flex;
    align-items: center;
}


/* color related style  */
body{
    font-family: 'Open Sans', sans-serif;
}
.port{
    color: var(--Dark-01, #181818);

font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800; 
}
.color1{
    color: #FD6E0A;
}

nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
    
}
.btn_primary{
    border-radius: 5px;
background: #FD6E0A;
border: 0px;
font-size: 20px;
font-weight: 700;
padding: 15px 35px;
color: white;


}
.btn{
    color: white;
}
nav{
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}


/* header related style */


.header{
    background-color: #FFF8F3;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.banner_hi{

}

.banner_name{

}
 .banner .profile_picture{
    width: 500px;

}

